<title>@System.Web.Configuration.WebConfigurationManager.AppSettings["title"].ToString()</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap -->
<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/css/bootstrap.css"))" rel="stylesheet" media="all" />
<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/css/bootstrap-theme.css"))" rel="stylesheet" />
<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/css/style.css"))" rel="stylesheet" />

<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/css/icon-styles.css"))" rel="stylesheet" />

<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/images/icon-60x60.png"))" rel="apple-touch-icon" />

<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/images/icon-76x76.png"))" rel="apple-touch-icon" sizes="76x76" />

<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/images/icon-120x120.png"))" rel="apple-touch-icon" sizes="120x120" />

<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/images/icon-152x152.png"))" rel="apple-touch-icon" sizes="152x152" />   
<!--
<script type='text/javascript' src="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/jquery/jquery-migrate.min.js"))"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/jquery/jquery.datetimepicker.js"))"></script>
<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/css/jquery/jquery.datetimepicker.css"))" rel="stylesheet">  

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!-- Add to Home Screen Button -->
<link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/css/addtohomescreen.css"))" rel="stylesheet">
<script src="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/js/addtohomescreen.min.js"))"></script>
<script src="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/jquery/jquery.floatThead.min.js"))"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script>
    // addToHomescreen.removeSession();     // use this to remove the localStorage variable
    var ath = addToHomescreen({
        appID: 'ca.wrdsb',
        message: 'To add this website to Home Screen: tap %icon and then <strong>Add to Home Screen</strong>',
        //debug: 'ios',             // activate debug mode in ios emulation
        skipFirstVisit: true,       // show at first access
        //startDelay: 1,            // display the message right away
        //lifespan: 15,             // do not automatically kill the call out
        //displayPace: 0,           // do not obey the display pace
        maxDisplayCount: 1          // do not obey the max display count
    });
    // ath.clearSession();      // reset the user session
    $(document).ready(function () {
        $('table.table-fixed-head').floatThead({
            useAbsolutePositioning: false
        });
    });
    $("table").addClass("table table-striped table-bordered");
    $("table").wrap("<div class='table-responsive'></div>");
</script>


<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
    @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
    "/images/favicon.png"))" />  >

<!-- Google Analytics
<script type="text/javascript">
  var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '@System.Web.Configuration.WebConfigurationManager.AppSettings["googleAnalytics"].ToString()']);
                              _gaq.push(['_setDomainName', '.www.wrdsb.ca']);
                  _gaq.push(['_setAllowHash', false]);
                                  _gaq.push(['_trackPageview']);


  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '@System.Web.Configuration.WebConfigurationManager.AppSettings["googleAnalytics"].ToString()', 'auto');
    ga('send', 'pageview');
</script>
-->

<!--
    If you are adding additional features to your application but need to link to additional assets that
    are not part of the theme include them here:
-->

<div class="container container-top">
    <div class="header">
        <div class="row"> 
            <div class="col-md-9 col-sm-9">
                <div id="logo">
                    <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["appurl"].ToString()">
                    <span>@System.Web.Configuration.WebConfigurationManager.AppSettings["title"].ToString()</span>
                    <h2>@System.Web.Configuration.WebConfigurationManager.AppSettings["title"].ToString()</h2>
                    <h3>@System.Web.Configuration.WebConfigurationManager.AppSettings["tagline"].ToString()</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="login-detail">
                    Logged in as: <b>@User.Identity.Name</b><br />
                    @if (!User.IsInRole("Administrators")) { 
                    @Html.ActionLink("Account Settings", "Index", "Manage")<br />}
                    @Html.ActionLink("Log off", "LogOff", "Account")
                </div>
                <div class="staff-shortcuts">
                    <div class="staff-shortcut-list">
                        <a href="#contact">Contact Information</a><br />
                    </div>
                    <!-- Uncomment to enable searching
                <div class="searchbox">
                  <form action="http://www.wrdsb.ca/" method="get">
                    <fieldset>
                      <input type="text" name="s" id="search" value="" placeholder="Search" />
                    </fieldset>
                  </form>
                </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="navbar my-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle togglesearch" data-toggle="collapse" data-target=".navbar-search">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-search"></span>
            </button>

            <button type="button" class="navbar-toggle togglenav" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.wrdsb.ca/">@System.Web.Configuration.WebConfigurationManager.AppSettings["title"].ToString()</a>
        </div>

        <div class="collapse navbar-search">
            <p class="text-center"><input type="text" class="" /><span class="icon-search"></span></p>
        </div>

        <div class="collapse navbar-collapse">
            <ul id="menu-top-menu" class="nav nav-justified">
                <li id="home_link" class="menu-item current-menu-item current_page_item menu-item-home"><a title="Take me to the home page" href="Default.aspx">Home</a></li>
                @if (User.IsInRole("Administrators") || User.IsInRole("SuperAdmin"))
                {
                    <li id="admin_link" class="menu-item menu-item-type-post_type menu-item-object-page"><a title="Take me to the admin page" href="@Url.Action("Index", "Administrator")">Administrators</a></li>
                }
                else
                {
                    <li id="form_link" class="menu-item menu-item-type-post_type menu-item-object-page"><a title="Take me to the forms page" href="@Url.Action("Index", "Form")">Registration Form</a></li>
                }
            </ul>
        </div>
    </div><!-- /.navbar -->
</div>
