<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@System.Web.Configuration.WebConfigurationManager.AppSettings["loginTitle"].ToString()</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript">
    var appInsights = window.appInsights || function (config) {
        function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
    }({
        instrumentationKey: "98e209c8-b4f8-49bd-8c33-c6db436ff823"
    });

    window.appInsights = appInsights;
    appInsights.trackPageView();
    </script>

    <!-- Bootstrap -->
    <link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
        @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
        "/css/bootstrap.css"))" rel="stylesheet" media="all" />
    <link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
        @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
        "/css/bootstrap-theme.css"))" rel="stylesheet" />
    <link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
        @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
        "/css/style.css"))" rel="stylesheet" />
    <link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
        @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
        "/css/icon-styles.css"))" rel="stylesheet" />
    <!-- Dot Net specific style just for the login page -->
    <link href="@(String.Format("{0}{1}{2}", "https://s3.amazonaws.com/wrdsb-ui-assets/",
        @System.Web.Configuration.WebConfigurationManager.AppSettings["awsVersion"].ToString(),
        "/css/dotnetlogin.css"))" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>