@model DotNetThemeMVC.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginTheme.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<div class="login">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div id="logo">
            <img src="https://s3.amazonaws.com/wrdsb-theme/images/WRDSB_Logo.svg" />
        </div>
        <h1>Reset your password for @System.Web.Configuration.WebConfigurationManager.AppSettings["loginTitle"].ToString()</h1>

        <form id="accountcreation">
            <fieldset>
                <!-- Email -->
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.Partial("_ValidationSummary", ViewData.ModelState)
                <!-- Submit Form -->
                <input type="submit" value="Reset" />
            </fieldset>
        </form>
    }
</div>