@model DotNetThemeMVC.Models.board_users

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_ValidationSummary", ViewData.ModelState)

    <fieldset>
        <legend>User</legend>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.username, "PAL")
                @Html.TextBoxFor(model => model.username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.role, "Role")
                @Html.DropDownListFor(model => model.role, ViewBag.userRoles as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>



