@model PagedList<DotNetThemeMVC.Models.board_users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h1>User Management</h1>
<p>
    Manage which users have access to the application. The PAL usernames seen in the list below will have access based on the chosen role.
</p>
<br />
<div class="col-md-12" style="padding-bottom:5px;padding-top:10px;">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.TextBox("SearchString", null, new { placeholder = "Username" }) <input type="submit" value="Search" class="btn btn-default" />
        }
    </div>
    <div class="col-md-8">
        Filter:
        @foreach (var role in ViewBag.userRoles)
        {

            @:&nbsp; @Html.ActionLink((string)role, "Index", new { role = (string)role })
            }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("PAL", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Role
        </th>
        <th>Manage User @Html.ActionLink("(+)", "Create", null, htmlAttributes: new { @style = "color:green" })</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, roleFilter = ViewBag.RoleFilter, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Board Users
